# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
.idea
.vscode


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
out
.eslintcache

# local db
*.db
*.db-shm
*.db-wal

# wails
.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe