.App {
  min-height: 100vh;
  background-color: #2d3a53;
  color: #ffffff;
}

.app-header {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.app-layout {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  align-items: stretch;
  justify-content: flex-start;
}

.main-content {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
